<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTFViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <TTFViewer.Properties.Settings>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="FileDialogPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FileDialogExtIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectPathDialogPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="FileDialogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="RowSplitterLength0" serializeAs="String">
                <value>2*</value>
            </setting>
            <setting name="RowSplitterLength1" serializeAs="String">
                <value>2*</value>
            </setting>
            <setting name="RowSplitterLength2" serializeAs="String">
                <value>2*</value>
            </setting>
        </TTFViewer.Properties.Settings>
    </userSettings>
</configuration>